.vscode

.yarn
**/node_modules

apps/contract/.openzeppelin
apps/contract/.venv
apps/contract/artifacts
apps/contract/out
apps/contract/cache
apps/contract/cache_hardhat
apps/contract/dist
apps/contract/lib
apps/contract/typechain-types
apps/contract/coverage*
apps/contract/gasReporterOutput.json

apps/client-public/.next

apps/client-admin/.next
